# Thread-level EDT activity profile for hybrid parallelism checks
# Format: COUNTER_NAME=counterMode[,counterLevel[,reduceMethod]]

TIME_EDT_EXEC=ONCE,THREAD
NUM_EDT_CREATE=ONCE,THREAD
NUM_EDT_ACQUIRE=ONCE,THREAD
NUM_EDT_FINISH=ONCE,THREAD
NUM_DB_CREATE=ONCE,THREAD

BYTES_MEMORY_FOOTPRINT=ONCE,NODE
BYTES_REMOTE_SENT=ONCE,NODE
BYTES_REMOTE_RECEIVED=ONCE,NODE

NUM_DB_ACQUIRE_READ=OFF
NUM_DB_ACQUIRE_WRITE=OFF
NUM_OWNER_UPDATE_SAVED=OFF
NUM_OWNER_UPDATE_PERFORMED=OFF

OBJ_NUM_EDT=OFF
OBJ_NUM_DB=OFF
OBJ_TRACE_EDT=OFF
OBJ_TRACE_DB=OFF

TIME_INIT=ONCE,CLUSTER,MASTER
TIME_TOTAL=ONCE,CLUSTER,MASTER
