# Thread-level EDT activity profile for hybrid parallelism checks
# Format: COUNTER_NAME=counterMode[,counterLevel[,reduceMethod]]

edtRunningTime=ONCE,THREAD
numEdtsCreated=ONCE,THREAD
numEdtsAcquired=ONCE,THREAD
numEdtsFinished=ONCE,THREAD
numDbsCreated=ONCE,THREAD

memoryFootprint=ONCE,NODE
remoteBytesSent=ONCE,NODE
remoteBytesReceived=ONCE,NODE

acquireReadMode=OFF
acquireWriteMode=OFF
ownerUpdatesSaved=OFF
ownerUpdatesPerformed=OFF

artsIdEdtMetrics=OFF
artsIdDbMetrics=OFF
artsIdEdtCaptures=OFF
artsIdDbCaptures=OFF

initializationTime=ONCE,CLUSTER,MASTER
endToEndTime=ONCE,CLUSTER,MASTER
